extends layout

block content
    #contentHome.wrapperWithFooter
        .imgAsBG(style="background-image:url('/img/home.jpg');background-size: cover;" alt="house picture")
block footer
    include footerHome
