doctype html
html(lang='en')
  head
    title= title
    //----------Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Gilles Yvetot')
    //----------Style
    link(href='/css/style.css', rel='stylesheet', type='text/css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,500,300,300italic,400italic,500italic' rel='stylesheet' type='text/css')
    //----------Script
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/js/global.js')
    script(src='/js/jquery.lazyload.min.js')
    script(src='/js/jquery.scrollstop.min.js')
    script(src='/js/jquery.mousewheel.min.js')

  body
    header
        #logo 
            a(href='/')
                img(src='/img/logo.png' alt='juan montero logo')
        nav
            a(href='personal')
                |Personal
            a(href='photography')
                |Photography
            a(href='pdf')
                |PDF
            a(href='contact')
                |Contact
 
    #content
        block content
    
    footer
        #share
            a(href='#')
                i.fa.fa-facebook-square
            a(href='#')
                i.fa.fa-instagram
            a(href='#')
                i.fa.fa-behance-square
            a(href='#')
                i.fa.fa-linkedin-square


