doctype html
html(lang='en')
  head
    title= title
    //----------Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Gilles Yvetot')
    //----------Style
    link(href='/css/style.css', rel='stylesheet', type='text/css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css' rel='stylesheet')
    //----------Script
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/js/global.js')
    script(src='/js/jquery.lazyload.min.js')
    script(src='/js/jquery.scrollstop.min.js')
    script(src='/js/jquery.mousewheel.min.js')

  mixin submenuItem(val)
    li
        a(href='/personal/#{val}/') #{val}

  body
        header
            #logo 
                a(href='/')
                    img(src='/img/logo.png' alt='juan montero logo')
            nav
                if title.indexOf('Personal')>0
                    .menu_item.active
                        a(href='#') Personal
                        .submenu
                            ul
                                for val in personal
                                    +submenuItem(val)
                else
                    .menu_item
                        a(href='#') Personal
                        .submenu
                            ul
                                for val in personal
                                    +submenuItem(val)
                if title == 'Photography'
                    .menu_item.active
                        a(href='/photography/') Photography
                else 
                    .menu_item
                        a(href='/photography/') Photography
                if title == 'PDF'
                    .menu_item.active
                        a(href='/pdf/') PDF 
                else
                    .menu_item
                        a(href='/pdf/') PDF 
                if title == 'Contact'
                    .menu_item.active
                        a(href='/contact/') About/Contact
                else
                    .menu_item
                        a(href='/contact/') About/Contact

        
        #content
            block content
        block footer
    
    


