doctype html
html(lang='en')
  head
    title= title
    //----------Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Gilles Yvetot')
    //----------Style
    link(href='/css/style.css', rel='stylesheet', type='text/css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css' rel='stylesheet')
    //----------Script
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/js/global.js')
    script(src='/js/jquery.lazyload.min.js')
    script(src='/js/jquery.scrollstop.min.js')
    script(src='/js/jquery.mousewheel.min.js')

  body
    header
        #logo 
            a(href='/')
                img(src='/img/logo.png' alt='juan montero logo')
        nav
            a.menu_item(href='personal') Personal
                .submenu
                    ul
                        li Quotidian
                        li Facades
                        li Facades
                        li Facades
            a.menu_item(href='photography') Photography
                .submenu
            a.menu_item(href='pdf') PDF 
                .submenu
            a.menu_item(href='contact') About/Contact
                .submenu

 
    #content
        block content
    
    footer
        #share
            a(href='#')
                i.fa.fa-facebook-square
            a(href='#')
                i.fa.fa-instagram
            a(href='#')
                i.fa.fa-behance-square
            a(href='#')
                i.fa.fa-linkedin-square


