

html{
  height: 100%;
}
body{
  padding:100px 0px 100px 0px;
  position:absolute; 
  top:0; 
  bottom:0; 
  left:0; 
  right:0;
  margin:0;
  font-family:Roboto;
  font-weight: 300;
}
/*
                                                              HEADER
*/
body > header{
  margin-top:-100px;
  height:100px; 
  background-color:#f1f2f2;
}

/*
                                                              BODY
*/
body > #container{
  min-height:100%; 
  background-color:#f1f2f2;
  display: table;
  width:100%;
}

/*
                                                              BODY - ADMIN
*/
#dynamicAdminContent {
  color:gray;
  vertical-align: top;
}
#dynamicAdminContent > div{
  display: inline-block;
  padding-left: 10%;
  text-align: left;
  width:40%;
  color:#b3b3b3;
  vertical-align: middle;
}
/*          FOLDER LEFT PART        */ 
/*each Line*/
#dynamicAdminContent > div > div{
  font-size:20px;
  padding:3px;
  width: 200px;
  font-size:20px;
  display: inline-block;

}
#dynamicAdminContent > #foldersLeft > div:nth-child(1):hover{
  color:black;
  cursor: pointer;

}
#dynamicAdminContent > div > div > i{
  padding-right: 4px;
  padding-left: 4px;
}
#dynamicAdminContent > div > div > i:hover{
  cursor: pointer;
  color: black;
}

#dynamicAdminContent > div > form > input{
  display: block;
  width:50%;

}
#dynamicAdminContent > #picturesLeft .thumbBlock{
  border:1px solid #bbb;
  margin:3px;
  height: 100px;
  width: 100px;
}
#dynamicAdminContent > #picturesLeft .thumbBlock > img{
  display: block;
  max-height: 100px;
  max-width: 100px;
}
/*
                                                              NAV
*/

body > #container > nav{
  display: table-cell;
  width: 200px;
  color: black;
  vertical-align: top;
}
body > #container > nav > #logo > a > img{
  height: auto;
  width: 180px;
  margin: 0px 10px 0px 10px;
  padding:0;
}
body > #container > nav > #menu > ul{
  margin: 0;
  padding: 20px 0px 0px 30px;
  overflow: scroll;
  list-style-type: none;
  font-size: 18px;
  position: relative;
}
body > #container > nav > #menu > ul ul{
  margin: 0px 0px 0px 10px;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  font-size: 15px;
}
body > #container > nav > #menu > ul span{
  text-transform: capitalize;
  text-decoration: none;
  color: gray;
}
body > #container > nav > #menu > ul span > i{
  color:transparent;
  font-size: 14px;
  padding-right:5px;
  vertical-align: middle;
}
body > #container > nav > #menu > ul span:hover{
  text-decoration: none;
  color: black;
  cursor:pointer;
}
body > #container > nav > #menu > ul span:hover > i{
  color:black;
}
/*
                                                              BODY CONTENT
*/
body  > #container > #content{
  display: table-cell;
  background-color: white;
  width:100%;
  vertical-align: middle;
  height: 100%;
  text-align: center;
}

body > #container > #content > img{
  padding: 0;
  max-height: 523px;
  width:auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
                                                              FOOTER
*/

body > footer{
  height:100px; 
  background-color:#f1f2f2;
  position:relative;
}
body > footer i{
  font-size: 15px;
  vertical-align: -1px;
  padding-right: 4px;
}
body > footer > #fullscreen{
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 13px;
  color: gray;
  font-size: 14px;
}
body > footer > #fullscreen:hover{
  cursor: pointer;
}
body > footer > #contact_info{
  position: absolute;
  right: 0px;
  bottom: 20px;
  font-size: 14px;
}
body > footer > #contact_info > a{
  text-decoration: none;
  color: gray;
  padding-right: 15px;
}



