/*
                                      COMMON
*/
body, html{
  position: relative;
  background-color:black;
  color:white;
  font-family: 'MetronicPro', Arial, Helvetica;
}
a{
  color:inherit;
  text-decoration: none;
}
@font-face {
  font-family: 'MetronicPro';
  src: url('/font/MetronicProAir.eot') format('embedded-opentype'),  url('/font/MetronicProAir.woff') format('woff');
  font-weight: lighter;;
}
@font-face {
  font-family: 'MetronicPro';
  src: url('/font/MetronicProRegular.eot') format('embedded-opentype'),  url('/font/MetronicProRegular.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Bague';
  src: url('/font/PFBagueSansPro-Regular.eot') format('embedded-opentype'),  url('/font/PFBagueSansPro-Regular.woff') format('woff');
}
/*
                                      HEADER
*/

header{
  height:60px; 
  position: fixed;
  top:0;
  right: 0;
  left: 0;
}

#logo{
  float: left;
}
#logo img{
  height: auto;
  width:183px;
  margin-left: 30px;
  margin-top:21px;
}
nav{
  float: right;
  margin-right: 30px;
  margin-top:16px;
}
nav .menu_item{
  margin: 0;
  padding: 10px 0;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 10pt;
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 80px;
  text-align: center;
  border: 1px solid transparent;
}
.submenu{
  display: none;
}
.submenu ul{
  list-style: none;
  margin: 10px 0;
  padding: 0;
  background: white;
  color: black;
}
.submenu ul li{
  padding: 5px 0;
}
.menu_item:hover .submenu{
  display: block;
}
.menu_item:hover{
  border: 1px solid white;
}

/*
                                      CONTENT
*/
#content{
  background: white;
  position: fixed;
  top:60px;
  bottom:60px;
  left:0;
  right:0;
  color:black;
  padding:300px;
  z-index: -1;
}
/*
                                      FOOTER
*/
footer{
  height:60px; 
  position: fixed;
  bottom:0;
  right: 0;
  left: 0;
}
#share{
  float: left;
  margin-top:20px;
  margin-left: 30px;
}
#share i{
  margin-right: 10px;
  font-size: 20px;
}

#share a:hover i{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";/* IE 8 */
  filter: alpha(opacity=50);/* IE 5-7 */
  -moz-opacity: 0.5;/* Netscape */
  -khtml-opacity: 0.5;/* Safari 1.x */
  opacity: 0.5;/* Good browsers */
}


